<?xml version="1.0" encoding="UTF-8"?>
<app id="3F8-19425" appkey="2a2ff6cf-7470-430d-a8d6-f0aa982e7564">
  <property name="enable-location-services">YES</property>
  <property name="enable-debug-console">YES</property>
  <datasources>
    
  </datasources>
  <views>
    <view>
      <property name="padding">0</property>
      <property name="top-padding">50</property>
      <property name="title-bar-visible">false</property>
      <property name="background-color">#cdcdcd</property>
      <widgets>
        <Element id="arrivalCalendar">
          <property name="load-from">calendar.xml</property>
          <property name="width">100%</property>
          <property name="height">100%</property>
          <actions>
            <alert on="date-selected">
              <property name="message">[get:arrivalCalendar("selected-month")]/[get:arrivalCalendar("selected-day")]/[get:arrivalCalendar("selected-year")]</property>
              <property name="message">[data:flight_info('/root/get_cal/item/item[display_day = '[get:arrivalCalendar('selected-day')]']/A')]</property>
            </alert>
          </actions>
        </Element>
      </widgets>
      <datasources />
    </view>
  </views>
</app>